In [13]:
import numpy as np
import pandas as pd
import pickle

from sklearn.linear_model import ElasticNet, Lasso,  BayesianRidge, Ridge, LinearRegression
from sklearn.ensemble import RandomForestClassifier,  GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import RobustScaler
from sklearn.base import BaseEstimator, TransformerMixin, RegressorMixin, clone
from sklearn.model_selection import KFold, cross_val_score,GridSearchCV,train_test_split
from sklearn.metrics import accuracy_score
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.tree import DecisionTreeClassifier

import warnings
warnings.filterwarnings("ignore")

from ensembler import MultiEnsemble

In [3]:
df=pd.read_csv('data/UCI_Credit_Card.csv')
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [6]:
df.iloc[:,-1].value_counts()

0    23364
1     6636
Name: default.payment.next.month, dtype: int64

In [19]:
train = df.iloc[:,1:-1]
label = df.iloc[:,-1]
Xtrain,Xtest,ytrain,ytest = train_test_split(train,label,test_size=0.25,random_state=0)

In [20]:
ytrain.value_counts()

0    17496
1     5004
Name: default.payment.next.month, dtype: int64

In [23]:
def gv(value):
    if value == 1:
        return 0.5/5004
    if value == 0:
        return 0.5/17496
w = ytrain.map(gv)
Xtrain = Xtrain.values
Xtest = Xtest.values
ytrain = ytrain.values
ytest = ytest.values

In [17]:
LR = LogisticRegression(solver='sag',C=0.1,random_state=1)
KNN = KNeighborsClassifier(n_neighbors=10, p=1, weights='uniform',n_jobs=-1)
svc = SVC(kernel='poly',degree=3,C=10,random_state=1)
lda = LDA()
dtc1 = DecisionTreeClassifier(max_depth=10)
dtc2 = DecisionTreeClassifier(max_depth=20)

In [42]:
mdl = MultiEnsemble(models=[LR,KNN,lda,dtc1],meta_models=[LR,lda,dtc2],weights=w,n=10)
mdl.fit(Xtrain,ytrain)
#print(accuracy_score(mdl.predict(Xtrain),ytrain))
#print(accuracy_score(mdl.predict(Xtest),ytest))

restrain = mdl.predict(Xtrain)
restest = mdl.predict(Xtest)
from sklearn.metrics import classification_report
print(classification_report(ytrain, restrain, target_names=['0','1']))
print(classification_report(ytest, restest, target_names=['0','1']))

             precision    recall  f1-score   support

          0       0.93      0.97      0.95     17496
          1       0.88      0.73      0.80      5004

avg / total       0.92      0.92      0.92     22500

             precision    recall  f1-score   support

          0       0.84      0.90      0.87      5868
          1       0.54      0.40      0.46      1632

avg / total       0.78      0.80      0.78      7500

In [30]:
cvl = []
for i in range(10):
    re=mdl.predict(Xtrain)
    cvl.append(accuracy_score(re,ytrain))
print(cvl)
print(np.mean(cvl))

[0.9844, 0.9844, 0.9844, 0.9844, 0.9844, 0.9844, 0.9844, 0.9844, 0.9844, 0.9844]
0.9844000000000002

In [37]:
def result_show(l1,l2):
    print(classification_report(ytrain, l1, target_names=['0','1']))
    print(classification_report(ytest, l2, target_names=['0','1']))

In [38]:
LR.fit(Xtrain,ytrain)
lrtr = LR.predict(Xtrain)
lrte = LR.predict(Xtest)
result_show(lrtr,lrte)

             precision    recall  f1-score   support

          0       0.78      1.00      0.87     17496
          1       0.00      0.00      0.00      5004

avg / total       0.60      0.78      0.68     22500

             precision    recall  f1-score   support

          0       0.78      1.00      0.88      5868
          1       0.00      0.00      0.00      1632

avg / total       0.61      0.78      0.69      7500

In [39]:
KNN.fit(Xtrain,ytrain)
krtr = KNN.predict(Xtrain)
krte = KNN.predict(Xtest)
result_show(krtr,krte)

             precision    recall  f1-score   support

          0       0.80      0.98      0.88     17496
          1       0.69      0.15      0.24      5004

avg / total       0.78      0.80      0.74     22500

             precision    recall  f1-score   support

          0       0.79      0.97      0.87      5868
          1       0.46      0.10      0.17      1632

avg / total       0.72      0.78      0.72      7500

In [41]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=200)
rfc.fit(Xtrain,ytrain)
rftrain = rfc.predict(Xtrain)
rftest = rfc.predict(Xtest)
result_show(rftrain,rftest)

             precision    recall  f1-score   support

          0       1.00      1.00      1.00     17496
          1       1.00      1.00      1.00      5004

avg / total       1.00      1.00      1.00     22500

             precision    recall  f1-score   support

          0       0.84      0.95      0.89      5868
          1       0.65      0.37      0.47      1632

avg / total       0.80      0.82      0.80      7500